In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

proximity_u = './data/0_Golden_Standard/c_proximity_clean_04.csv'
capital_d = './data/0_Golden_Standard/capdist_km.csv'
cow_name = './data/0_Golden_Standard/COW_country_codes.csv'

In [2]:
prox = pd.read_csv(proximity_u,sep=',')
cap = pd.read_csv(capital_d,sep=',')
cow = pd.read_csv(cow_name,sep=',')

In [3]:
prox = prox.rename(columns={"iso_code": "iso_code_src"})
prox['iso_code_trg'] = prox['trg']
prox

,Unnamed: 0,src,trg,iso_code_src,region,iso_code_trg
0,0,Afghanistan,China,AFG,Asia,China
1,1,Afghanistan,Iran (Islamic Republic of),AFG,Asia,Iran (Islamic Republic of)
2,2,Afghanistan,Pakistan,AFG,Asia,Pakistan
3,3,Afghanistan,Tajikistan,AFG,Asia,Tajikistan
4,4,Afghanistan,Turkmenistan,AFG,Asia,Turkmenistan
...,...,...,...,...,...,...
717,791,Zambia,Zimbabwe,ZMB,Africa,Zimbabwe
718,792,Zimbabwe,Botswana,ZWE,Africa,Botswana
719,793,Zimbabwe,Mozambique,ZWE,Africa,Mozambique
720,794,Zimbabwe,South Africa,ZWE,Africa,South Africa
721,795,Zimbabwe,Zambia,ZWE,Africa,Zambia

In [4]:
cap['iso_code_src'] = cap['src']
cap['iso_code_trg'] = cap['trg']
cap

       src  trg  kmdist Proximity_1_over_dist iso_code_src iso_code_trg
0      USA  CAN     731        0.001367989056          USA          CAN
1      USA  BHM    1623       0.0006161429452          USA          BHM
2      USA  CUB    1813       0.0005515719801          USA          CUB
3      USA  HAI    2286       0.0004374453193          USA          HAI
4      USA  DOM    2358       0.0004240882103          USA          DOM
...    ...  ...     ...                   ...          ...          ...
41001  WSM  SOL    1581       0.0006325110689          WSM          SOL
41002  WSM  FJI     823        0.001215066829          WSM          FJI
41003  WSM  MSI    2555       0.0003913894325          WSM          MSI
41004  WSM  PAL    4786       0.0002089427497          WSM          PAL
41005  WSM  FSM    2758       0.0003625815809          WSM          FSM

[41006 rows x 6 columns]

In [5]:
#no longer active countries / changed name
confl_l= ["AUH",
       "GDR",
       "CZR",
       "YUG",
       "DRC",
       "SAF",
       "TRA",
       "YAR",
       "ROK"]

#verify conflicts not in proximity_u
confl_rows = prox[prox.src.str.contains('|'.join(confl_l))]
confl_rows += prox[prox.trg.str.contains('|'.join(confl_l))]
confl_rows

Empty DataFrame
Columns: [Unnamed: 0, src, trg, iso_code_src, region, iso_code_trg]
Index: []

In [6]:
# Cheeky trick to initialize empty pds index
#indexNames = df[ df['src'] == "POTATOE" ].index

def confl_c(df,l):
    for string in l:
        if df['src'].str.contains(string).any():
            df = df[~df.src.str.contains(string)]
        if df['trg'].str.contains(string).any():
            df = df[~df.trg.str.contains(string)]
        if ~df['src'].str.contains(string).any() and ~df['trg'].str.contains(string).any():
            print("{} has been removed from the dataset".format(string))
    return df#

In [7]:
# Delete these row indexes from dataFrame
cap_clean = confl_c(cap,confl_l)

AUH has been removed from the dataset
GDR has been removed from the dataset
CZR has been removed from the dataset
YUG has been removed from the dataset
DRC has been removed from the dataset
SAF has been removed from the dataset
TRA has been removed from the dataset
YAR has been removed from the dataset
ROK has been removed from the dataset

In [8]:
#verifying there are no 0 distances
cap_clean.loc[cap_clean['kmdist'] == 0]

Empty DataFrame
Columns: [src, trg, kmdist, Proximity_1_over_dist, iso_code_src, iso_code_trg]
Index: []

In [9]:
cap_clean

       src  trg  kmdist Proximity_1_over_dist iso_code_src iso_code_trg
0      USA  CAN     731        0.001367989056          USA          CAN
1      USA  BHM    1623       0.0006161429452          USA          BHM
2      USA  CUB    1813       0.0005515719801          USA          CUB
3      USA  HAI    2286       0.0004374453193          USA          HAI
4      USA  DOM    2358       0.0004240882103          USA          DOM
...    ...  ...     ...                   ...          ...          ...
41001  WSM  SOL    1581       0.0006325110689          WSM          SOL
41002  WSM  FJI     823        0.001215066829          WSM          FJI
41003  WSM  MSI    2555       0.0003913894325          WSM          MSI
41004  WSM  PAL    4786       0.0002089427497          WSM          PAL
41005  WSM  FSM    2758       0.0003625815809          WSM          FSM

[37442 rows x 6 columns]

In [10]:
prox

,Unnamed: 0,src,trg,iso_code_src,region,iso_code_trg
0,0,Afghanistan,China,AFG,Asia,China
1,1,Afghanistan,Iran (Islamic Republic of),AFG,Asia,Iran (Islamic Republic of)
2,2,Afghanistan,Pakistan,AFG,Asia,Pakistan
3,3,Afghanistan,Tajikistan,AFG,Asia,Tajikistan
4,4,Afghanistan,Turkmenistan,AFG,Asia,Turkmenistan
...,...,...,...,...,...,...
717,791,Zambia,Zimbabwe,ZMB,Africa,Zimbabwe
718,792,Zimbabwe,Botswana,ZWE,Africa,Botswana
719,793,Zimbabwe,Mozambique,ZWE,Africa,Mozambique
720,794,Zimbabwe,South Africa,ZWE,Africa,South Africa
721,795,Zimbabwe,Zambia,ZWE,Africa,Zambia

In [11]:
# Creating a dict of ISOs [keys] and src [values]

def create_dicts_from_df(df, col1, col2):
    d = {}
    i_d = {}
    for index, row in df.iterrows():
        if row[col1] in d:
            #key already in dict 1"
            pass
        
        if row[col2] in i_d:
            #key already in dict 2"
            pass
        
        else:
            d[row[col1]] = row[col2]
            i_d[row[col2]] = row[col1]
    
    return d, i_d

di_src, swapped_d = create_dicts_from_df(prox, "iso_code_src", "src")

In [12]:
di_src

{'AFG': 'Afghanistan',
 'ALB': 'Albania',
 'DZA': 'Algeria',
 'ASM': 'American Samoa',
 'AGO': 'Angola',
 'AIA': 'Anguilla',
 'ATG': 'Antigua and Barbuda',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'ABW': 'Aruba',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'AZE': 'Azerbaijan',
 'BHS': 'Bahamas',
 'BHR': 'Bahrain',
 'BGD': 'Bangladesh',
 'BRB': 'Barbados',
 'BLR': 'Belarus',
 'BEL': 'Belgium',
 'BLZ': 'Belize',
 'BEN': 'Benin',
 'BMU': 'Bermuda',
 'BTN': 'Bhutan',
 'BOL': 'Bolivia',
 'BIH': 'Bosnia and Herzegovina',
 'BWA': 'Botswana',
 'BRA': 'Brazil',
 'BRN': 'Brunei',
 'BGR': 'Bulgaria',
 'BFA': 'Burkina Faso',
 'BDI': 'Burundi',
 'CPV': 'Cabo Verde',
 'KHM': 'Cambodia',
 'CMR': 'Cameroon',
 'CAN': 'Canada',
 'CYM': 'Cayman Islands',
 'CAF': 'Central African Republic',
 'TCD': 'Chad',
 'CHL': 'Chile',
 'CHN': 'China',
 'CXR': 'Christmas Island',
 'CCK': 'Cocos (Keeling) Islands',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'COG': 'Congo',
 'COD': 'Congo, Democratic Republic of the',
 'COK': 'Cook Islands',
 'CRI': 'Costa Rica',
 'CIV': "CÃ´te d'Ivoire",
 'HRV': 'Croatia',
 'CUB': 'Cuba',
 'CYP': 'Cyprus',
 'CZE': 'Czechia',
 'DNK': 'Denmark',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DOM': 'Dominican Republic',
 'TL': 'East Timor',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'SLV': 'El Salvador',
 'GNQ': 'Equatorial Guinea',
 'ERI': 'Eritrea',
 'EST': 'Estonia',
 'ETH': 'Ethiopia',
 'FLK': 'Falkland Islands (Malvinas)',
 'FRO': 'Faroe Islands',
 'FJI': 'Fiji',
 'FIN': 'Finland',
 'FRA': 'France',
 'GUF': 'French Guiana',
 'PYF': 'French Polynesia',
 'GAB': 'Gabon',
 'GMB': 'Gambia',
 'GEO': 'Georgia',
 'DEU': 'Germany',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GRC': 'Greece',
 'GRL': 'Greenland',
 'GRD': 'Grenada',
 'GLP': 'Guadeloupe',
 'GUM': 'Guam',
 'GTM': 'Guatemala',
 'GGY': 'Guernsey',
 'GIN': 'Guinea',
 'GNB': 'Guinea-Bissau',
 'GUY': 'Guyana',
 'HTI': 'Haiti',
 'HND': 'Honduras',
 'HKG': 'Hong Kong',
 'HUN': 'Hungary',
 'ISL': 'Iceland',
 'IND': 'India',
 'IDN': 'Indonesia',
 'IRN': 'Iran (Islamic Republic of)',
 'IRQ': 'Iraq',
 'IRL': 'Ireland',
 'IMN': 'Isle of Man',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JPN': 'Japan',
 'JEY': 'Jersey',
 'JOR': 'Jordan',
 'KAZ': 'Kazakhstan',
 'KEN': 'Kenya',
 'KIR': 'Kiribati',
 'PRK': "Korea (Democratic People's Republic of)",
 'KOR': 'Korea, Republic of',
 'KWT': 'Kuwait',
 'KGZ': 'Kyrgyzstan',
 'LAO': "Lao People's Democratic Republic",
 'LVA': 'Latvia',
 'LBN': 'Lebanon',
 'LSO': 'Lesotho',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LTU': 'Lithuania',
 'LUX': 'Luxembourg',
 'MAC': 'Macao',
 'MDG': 'Madagascar',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'MDV': 'Maldives',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MHL': 'Marshall Islands',
 'MTQ': 'Martinique',
 'MRT': 'Mauritania',
 'MUS': 'Mauritius',
 'MYT': 'Mayotte',
 'MEX': 'Mexico',
 'FSM': 'Micronesia (Federated States of)',
 'MDA': 'Moldova, Republic of',
 'MNG': 'Mongolia',
 'MNE': 'Montenegro',
 'MAR': 'Morocco',
 'MOZ': 'Mozambique',
 'MMR': 'Myanmar',
 'NAM': 'Namibia',
 'NRU': 'Nauru',
 'NPL': 'Nepal',
 'NLD': 'Netherlands',
 'NCL': 'New Caledonia',
 'NZL': 'New Zealand',
 'NIC': 'Nicaragua',
 'NER': 'Niger',
 'NGA': 'Nigeria',
 'NIU': 'Niue',
 'NFK': 'Norfolk Island',
 'MKD': 'North Macedonia',
 'MNP': 'Northern Mariana Islands',
 'NOR': 'Norway',
 'OMN': 'Oman',
 'PAK': 'Pakistan',
 'PLW': 'Palau',
 'PAN': 'Panama',
 'PNG': 'Papua New Guinea',
 'PRY': 'Paraguay',
 'PER': 'Peru',
 'PHL': 'Philippines',
 'POL': 'Poland',
 'PRT': 'Portugal',
 'PRI': 'Puerto Rico',
 'QAT': 'Qatar',
 'REU': 'RÃ©union',
 'ROU': 'Romania',
 'RUS': 'Russian Federation',
 'RWA': 'Rwanda',
 'LCA': 'Saint Lucia',
 'SPM': 'Saint Pierre and Miquelon',
 'VCT': 'Saint Vincent and the Grenadines',
 'STP': 'Sao Tome and Principe',
 'SAU': 'Saudi Arabia',
 'SEN': 'Senegal',
 'SRB': 'Serbia',
 'SYC': 'Seychelles',
 'SLE': 'Sierra Leone',
 'SGP': 'Singapore',
 'SVK': 'Slovakia',
 'SVN': 'Slovenia',
 'SOM': 'Somalia',
 'SLB': 'Solomon Islands',
 'ZAF': 'South Africa',
 'SSD': 'South Sudan',
 'ESP': 'Spain',
 'LKA': 'Sri Lanka',
 'SDN': 'Sudan',
 'SUR': 'Suriname',
 'SWZ': 'Swaziland',
 'SWE': 'Sweden',
 'CHE': 'Switzerland',
 'TWN': 'Taiwan',
 'TJK': 'Tajikistan',
 'TZA': 'Tanzania, United Republic of',
 'THA': 'Thailand',
 'TGO': 'Togo',
 'TON': 'Tonga',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TKM': 'Turkmenistan',
 'TCA': 'Turks and Caicos Islands',
 'TUV': 'Tuvalu',
 'UGA': 'Uganda',
 'UKR': 'Ukraine',
 'ARE': 'United Arab Emirates',
 'GBR': 'United Kingdom of Great Britain and Northern Ireland',
 'USA': 'United States of America',
 'URY': 'Uruguay',
 'UZB': 'Uzbekistan',
 'VUT': 'Vanuatu',
 'VEN': 'Venezuela (Bolivarian Republic of)',
 'VNM': 'Viet Nam',
 'VGB': 'Virgin Islands (British)',
 'WLF': 'Wallis and Futuna',
 'ESH': 'Western Sahara',
 'YEM': 'Yemen',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

In [13]:
swapped_d

{'Afghanistan': 'AFG',
 'Albania': 'ALB',
 'Algeria': 'DZA',
 'American Samoa': 'ASM',
 'Angola': 'AGO',
 'Anguilla': 'AIA',
 'Antigua and Barbuda': 'ATG',
 'Argentina': 'ARG',
 'Armenia': 'ARM',
 'Aruba': 'ABW',
 'Australia': 'AUS',
 'Austria': 'AUT',
 'Azerbaijan': 'AZE',
 'Bahamas': 'BHS',
 'Bahrain': 'BHR',
 'Bangladesh': 'BGD',
 'Barbados': 'BRB',
 'Belarus': 'BLR',
 'Belgium': 'BEL',
 'Belize': 'BLZ',
 'Benin': 'BEN',
 'Bermuda': 'BMU',
 'Bhutan': 'BTN',
 'Bolivia': 'BOL',
 'Bosnia and Herzegovina': 'BIH',
 'Botswana': 'BWA',
 'Brazil': 'BRA',
 'Brunei': 'BRN',
 'Bulgaria': 'BGR',
 'Burkina Faso': 'BFA',
 'Burundi': 'BDI',
 'Cabo Verde': 'CPV',
 'Cambodia': 'KHM',
 'Cameroon': 'CMR',
 'Canada': 'CAN',
 'Cayman Islands': 'CYM',
 'Central African Republic': 'CAF',
 'Chad': 'TCD',
 'Chile': 'CHL',
 'China': 'CHN',
 'Christmas Island': 'CXR',
 'Cocos (Keeling) Islands': 'CCK',
 'Colombia': 'COL',
 'Comoros': 'COM',
 'Congo': 'COG',
 'Congo, Democratic Republic of the': 'COD',
 'Cook Islands': 'COK',
 'Costa Rica': 'CRI',
 "CÃ´te d'Ivoire": 'CIV',
 'Croatia': 'HRV',
 'Cuba': 'CUB',
 'Cyprus': 'CYP',
 'Czechia': 'CZE',
 'Denmark': 'DNK',
 'Djibouti': 'DJI',
 'Dominica': 'DMA',
 'Dominican Republic': 'DOM',
 'East Timor': 'TL',
 'Ecuador': 'ECU',
 'Egypt': 'EGY',
 'El Salvador': 'SLV',
 'Equatorial Guinea': 'GNQ',
 'Eritrea': 'ERI',
 'Estonia': 'EST',
 'Ethiopia': 'ETH',
 'Falkland Islands (Malvinas)': 'FLK',
 'Faroe Islands': 'FRO',
 'Fiji': 'FJI',
 'Finland': 'FIN',
 'France': 'FRA',
 'French Guiana': 'GUF',
 'French Polynesia': 'PYF',
 'Gabon': 'GAB',
 'Gambia': 'GMB',
 'Georgia': 'GEO',
 'Germany': 'DEU',
 'Ghana': 'GHA',
 'Gibraltar': 'GIB',
 'Greece': 'GRC',
 'Greenland': 'GRL',
 'Grenada': 'GRD',
 'Guadeloupe': 'GLP',
 'Guam': 'GUM',
 'Guatemala': 'GTM',
 'Guernsey': 'GGY',
 'Guinea': 'GIN',
 'Guinea-Bissau': 'GNB',
 'Guyana': 'GUY',
 'Haiti': 'HTI',
 'Honduras': 'HND',
 'Hong Kong': 'HKG',
 'Hungary': 'HUN',
 'Iceland': 'ISL',
 'India': 'IND',
 'Indonesia': 'IDN',
 'Iran (Islamic Republic of)': 'IRN',
 'Iraq': 'IRQ',
 'Ireland': 'IRL',
 'Isle of Man': 'IMN',
 'Israel': 'ISR',
 'Italy': 'ITA',
 'Jamaica': 'JAM',
 'Japan': 'JPN',
 'Jersey': 'JEY',
 'Jordan': 'JOR',
 'Kazakhstan': 'KAZ',
 'Kenya': 'KEN',
 'Kiribati': 'KIR',
 "Korea (Democratic People's Republic of)": 'PRK',
 'Korea, Republic of': 'KOR',
 'Kuwait': 'KWT',
 'Kyrgyzstan': 'KGZ',
 "Lao People's Democratic Republic": 'LAO',
 'Latvia': 'LVA',
 'Lebanon': 'LBN',
 'Lesotho': 'LSO',
 'Liberia': 'LBR',
 'Libya': 'LBY',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Macao': 'MAC',
 'Madagascar': 'MDG',
 'Malawi': 'MWI',
 'Malaysia': 'MYS',
 'Maldives': 'MDV',
 'Mali': 'MLI',
 'Malta': 'MLT',
 'Marshall Islands': 'MHL',
 'Martinique': 'MTQ',
 'Mauritania': 'MRT',
 'Mauritius': 'MUS',
 'Mayotte': 'MYT',
 'Mexico': 'MEX',
 'Micronesia (Federated States of)': 'FSM',
 'Moldova, Republic of': 'MDA',
 'Mongolia': 'MNG',
 'Montenegro': 'MNE',
 'Morocco': 'MAR',
 'Mozambique': 'MOZ',
 'Myanmar': 'MMR',
 'Namibia': 'NAM',
 'Nauru': 'NRU',
 'Nepal': 'NPL',
 'Netherlands': 'NLD',
 'New Caledonia': 'NCL',
 'New Zealand': 'NZL',
 'Nicaragua': 'NIC',
 'Niger': 'NER',
 'Nigeria': 'NGA',
 'Niue': 'NIU',
 'Norfolk Island': 'NFK',
 'North Macedonia': 'MKD',
 'Northern Mariana Islands': 'MNP',
 'Norway': 'NOR',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Palau': 'PLW',
 'Panama': 'PAN',
 'Papua New Guinea': 'PNG',
 'Paraguay': 'PRY',
 'Peru': 'PER',
 'Philippines': 'PHL',
 'Poland': 'POL',
 'Portugal': 'PRT',
 'Puerto Rico': 'PRI',
 'Qatar': 'QAT',
 'RÃ©union': 'REU',
 'Romania': 'ROU',
 'Russian Federation': 'RUS',
 'Rwanda': 'RWA',
 'Saint Lucia': 'LCA',
 'Saint Pierre and Miquelon': 'SPM',
 'Saint Vincent and the Grenadines': 'VCT',
 'Sao Tome and Principe': 'STP',
 'Saudi Arabia': 'SAU',
 'Senegal': 'SEN',
 'Serbia': 'SRB',
 'Seychelles': 'SYC',
 'Sierra Leone': 'SLE',
 'Singapore': 'SGP',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Somalia': 'SOM',
 'Solomon Islands': 'SLB',
 'South Africa': 'ZAF',
 'South Sudan': 'SSD',
 'Spain': 'ESP',
 'Sri Lanka': 'LKA',
 'Sudan': 'SDN',
 'Suriname': 'SUR',
 'Swaziland': 'SWZ',
 'Sweden': 'SWE',
 'Switzerland': 'CHE',
 'Taiwan': 'TWN',
 'Tajikistan': 'TJK',
 'Tanzania, United Republic of': 'TZA',
 'Thailand': 'THA',
 'Togo': 'TGO',
 'Tonga': 'TON',
 'Trinidad and Tobago': 'TTO',
 'Tunisia': 'TUN',
 'Turkey': 'TUR',
 'Turkmenistan': 'TKM',
 'Turks and Caicos Islands': 'TCA',
 'Tuvalu': 'TUV',
 'Uganda': 'UGA',
 'Ukraine': 'UKR',
 'United Arab Emirates': 'ARE',
 'United Kingdom of Great Britain and Northern Ireland': 'GBR',
 'United States of America': 'USA',
 'Uruguay': 'URY',
 'Uzbekistan': 'UZB',
 'Vanuatu': 'VUT',
 'Venezuela (Bolivarian Republic of)': 'VEN',
 'Viet Nam': 'VNM',
 'Virgin Islands (British)': 'VGB',
 'Wallis and Futuna': 'WLF',
 'Western Sahara': 'ESH',
 'Yemen': 'YEM',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE'}

In [14]:
# Manually adding NaN ISO Codes
di_src["WSM"] = "Samoa"
di_src["KNA"] = "Saint Kitts and Nevis"
swapped_d["Samoa"] = "WSM"
swapped_d["Saint Kitts and Nevis"] = "WSM"

In [15]:
def replace_df_values(df, col1, col2, i_d):
    #new_df = df.copy(deep=True)
    nan_dict = {}    
    for index, row in df.iterrows():

        if row[col1] in i_d:
            #at method avoids running into problems when modifying the df and iterrows https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
            df.at[index,col2] = i_d[row[col1]]
        else:
            #print("NaN Alert with {}".format(df[col2][index]))
            if df[col2][index] in nan_dict:
                pass
            else:
                nan_dict[df[col2][index]] = "?"
            df.at[index,col2] = np.nan
    if nan_dict != {}:
        print("NaN Alert")
    return df, nan_dict

#careful as the value call is inverse in this function
prox_u, nan_d = replace_df_values(prox, "trg", "iso_code_trg", swapped_d)

In [16]:
if 'Unnamed: 0' in prox_u.columns:
    prox_u = prox_u.drop(["Unnamed: 0"],axis=1)
prox_u

             src                         trg iso_code_src  region iso_code_trg
0    Afghanistan                       China          AFG    Asia          CHN
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia          IRN
2    Afghanistan                    Pakistan          AFG    Asia          PAK
3    Afghanistan                  Tajikistan          AFG    Asia          TJK
4    Afghanistan                Turkmenistan          AFG    Asia          TKM
..           ...                         ...          ...     ...          ...
717       Zambia                    Zimbabwe          ZMB  Africa          ZWE
718     Zimbabwe                    Botswana          ZWE  Africa          BWA
719     Zimbabwe                  Mozambique          ZWE  Africa          MOZ
720     Zimbabwe                South Africa          ZWE  Africa          ZAF
721     Zimbabwe                      Zambia          ZWE  Africa          ZMB

[722 rows x 5 columns]

In [17]:
cap_clean

       src  trg  kmdist Proximity_1_over_dist iso_code_src iso_code_trg
0      USA  CAN     731        0.001367989056          USA          CAN
1      USA  BHM    1623       0.0006161429452          USA          BHM
2      USA  CUB    1813       0.0005515719801          USA          CUB
3      USA  HAI    2286       0.0004374453193          USA          HAI
4      USA  DOM    2358       0.0004240882103          USA          DOM
...    ...  ...     ...                   ...          ...          ...
41001  WSM  SOL    1581       0.0006325110689          WSM          SOL
41002  WSM  FJI     823        0.001215066829          WSM          FJI
41003  WSM  MSI    2555       0.0003913894325          WSM          MSI
41004  WSM  PAL    4786       0.0002089427497          WSM          PAL
41005  WSM  FSM    2758       0.0003625815809          WSM          FSM

[37442 rows x 6 columns]

In [18]:
cap_clean, nan_d1 = replace_df_values(cap_clean, "iso_code_trg", "trg", di_src)
cap_clean, nan_d2 = replace_df_values(cap_clean, "iso_code_src", "src", di_src)

NaN Alert
NaN Alert

In [19]:
if 'Unnamed: 0' in cap_clean.columns:
    cap_clean = cap_clean.drop(["Unnamed: 0"],axis=1)
cap_clean

,src,trg,kmdist,Proximity_1_over_dist,iso_code_src,iso_code_trg
0,United States of America,Canada,731,0.001367989056,USA,CAN
1,United States of America,NaN,1623,0.0006161429452,USA,BHM
2,United States of America,Cuba,1813,0.0005515719801,USA,CUB
3,United States of America,NaN,2286,0.0004374453193,USA,HAI
4,United States of America,Dominican Republic,2358,0.0004240882103,USA,DOM
...,...,...,...,...,...,...
41001,Samoa,NaN,1581,0.0006325110689,WSM,SOL
41002,Samoa,Fiji,823,0.001215066829,WSM,FJI
41003,Samoa,NaN,2555,0.0003913894325,WSM,MSI
41004,Samoa,NaN,4786,0.0002089427497,WSM,PAL
41005,Samoa,Micronesia (Federated States of),2758,0.0003625815809,WSM,FSM

In [20]:
nan_d1

{'BHM': '?',
 'HAI': '?',
 'TRI': '?',
 'BAR': '?',
 'GRN': '?',
 'SLU': '?',
 'SVG': '?',
 'AAB': '?',
 'SKN': '?',
 'GUA': '?',
 'HON': '?',
 'SAL': '?',
 'COS': '?',
 'PAR': '?',
 'URU': '?',
 'UK': '?',
 'IRE': '?',
 'NTH': '?',
 'FRN': '?',
 'MNC': '?',
 'LIE': '?',
 'SPN': '?',
 'AND': '?',
 'POR': '?',
 'GMY': '?',
 'GFR': '?',
 'SLO': '?',
 'SNM': '?',
 'SER': '?',
 'CRO': '?',
 'BOS': '?',
 'BUL': '?',
 'MLD': '?',
 'RUM': '?',
 'LAT': '?',
 'LIT': '?',
 'GRG': '?',
 'SWD': '?',
 'DEN': '?',
 'ICE': '?',
 'CAP': '?',
 'EQG': '?',
 'GAM': '?',
 'MAA': '?',
 'NIR': '?',
 'CDI': '?',
 'GUI': '?',
 'BFO': '?',
 'SIE': '?',
 'TOG': '?',
 'CAO': '?',
 'NIG': '?',
 'CEN': '?',
 'CHA': '?',
 'CON': '?',
 'TAZ': '?',
 'ZAN': '?',
 'BUI': '?',
 'ANG': '?',
 'MZM': '?',
 'ZAM': '?',
 'ZIM': '?',
 'MAW': '?',
 'OFS': '?',
 'LES': '?',
 'BOT': '?',
 'SWA': '?',
 'MAG': '?',
 'MAS': '?',
 'SEY': '?',
 'MOR': '?',
 'ALG': '?',
 'LIB': '?',
 'SUD': '?',
 'SYR': '?',
 'LEB': '?',
 'YPR': '?',
 'KUW': '?',
 'BAH': '?',
 'UAE': '?',
 'OMA': '?',
 'TAJ': '?',
 'KYR': '?',
 'KZK': '?',
 'TBT': '?',
 'MON': '?',
 'TAW': '?',
 'BHU': '?',
 'BNG': '?',
 'MYA': '?',
 'SRI': '?',
 'NEP': '?',
 'MAD': '?',
 'THI': '?',
 'CAM': '?',
 'DRV': '?',
 'RVN': '?',
 'MAL': '?',
 'SIN': '?',
 'BRU': '?',
 'PHI': '?',
 'INS': '?',
 'ETM': '?',
 'AUL': '?',
 'NEW': '?',
 'VAN': '?',
 'SOL': '?',
 'MSI': '?',
 'PAL': '?'}

In [21]:
prox_u

             src                         trg iso_code_src  region iso_code_trg
0    Afghanistan                       China          AFG    Asia          CHN
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia          IRN
2    Afghanistan                    Pakistan          AFG    Asia          PAK
3    Afghanistan                  Tajikistan          AFG    Asia          TJK
4    Afghanistan                Turkmenistan          AFG    Asia          TKM
..           ...                         ...          ...     ...          ...
717       Zambia                    Zimbabwe          ZMB  Africa          ZWE
718     Zimbabwe                    Botswana          ZWE  Africa          BWA
719     Zimbabwe                  Mozambique          ZWE  Africa          MOZ
720     Zimbabwe                South Africa          ZWE  Africa          ZAF
721     Zimbabwe                      Zambia          ZWE  Africa          ZMB

[722 rows x 5 columns]

In [22]:
new_prox = pd.merge(prox_u,cap_clean,on=['src','trg'], how = "left")

In [23]:
new_prox

,src,trg,iso_code_src_x,region,iso_code_trg_x,kmdist,Proximity_1_over_dist,iso_code_src_y,iso_code_trg_y
0,Afghanistan,China,AFG,Asia,CHN,4199.0,0.0002381519409,AFG,CHN
1,Afghanistan,Iran (Islamic Republic of),AFG,Asia,IRN,1618.0,0.0006180469716,AFG,IRN
2,Afghanistan,Pakistan,AFG,Asia,PAK,371.0,0.00269541779,AFG,PAK
3,Afghanistan,Tajikistan,AFG,Asia,TJK,NaN,NaN,NaN,NaN
4,Afghanistan,Turkmenistan,AFG,Asia,TKM,1035.0,0.0009661835749,AFG,TKM
...,...,...,...,...,...,...,...,...,...
717,Zambia,Zimbabwe,ZMB,Africa,ZWE,NaN,NaN,NaN,NaN
718,Zimbabwe,Botswana,ZWE,Africa,BWA,NaN,NaN,NaN,NaN
719,Zimbabwe,Mozambique,ZWE,Africa,MOZ,NaN,NaN,NaN,NaN
720,Zimbabwe,South Africa,ZWE,Africa,ZAF,NaN,NaN,NaN,NaN
721,Zimbabwe,Zambia,ZWE,Africa,ZMB,NaN,NaN,NaN,NaN

In [24]:
cap_clean = cap_clean.sort_values(['src', 'kmdist'], ascending=[True, True])
cap_clean

,src,trg,kmdist,Proximity_1_over_dist,iso_code_src,iso_code_trg
32292,Afghanistan,Pakistan,371,0.00269541779,AFG,PAK
32278,Afghanistan,NaN,444,0.002252252252,AFG,TAJ
32280,Afghanistan,Uzbekistan,774,0.001291989664,AFG,UZB
32279,Afghanistan,NaN,1012,0.0009881422925,AFG,KYR
32290,Afghanistan,India,1023,0.0009775171065,AFG,IND
...,...,...,...,...,...,...
38605,NaN,Colombia,19815,0.00005046681807,INS,COL
9082,NaN,NaN,19835,0.00005041593143,SPN,NEW
39434,NaN,NaN,19835,0.00005041593143,NEW,SPN
6429,NaN,NaN,19918,0.00005020584396,PAR,TAW
33967,NaN,NaN,19918,0.00005020584396,TAW,PAR

In [25]:
#cap_clean = cap_clean[cap_clean['src'].notna()]
cap_clean

,src,trg,kmdist,Proximity_1_over_dist,iso_code_src,iso_code_trg
32292,Afghanistan,Pakistan,371,0.00269541779,AFG,PAK
32278,Afghanistan,NaN,444,0.002252252252,AFG,TAJ
32280,Afghanistan,Uzbekistan,774,0.001291989664,AFG,UZB
32279,Afghanistan,NaN,1012,0.0009881422925,AFG,KYR
32290,Afghanistan,India,1023,0.0009775171065,AFG,IND
...,...,...,...,...,...,...
38605,NaN,Colombia,19815,0.00005046681807,INS,COL
9082,NaN,NaN,19835,0.00005041593143,SPN,NEW
39434,NaN,NaN,19835,0.00005041593143,NEW,SPN
6429,NaN,NaN,19918,0.00005020584396,PAR,TAW
33967,NaN,NaN,19918,0.00005020584396,TAW,PAR

In [26]:
#df.iloc[lambda x: x.index % 2 == 0]

In [27]:
#cap_clean = cap_clean.iloc[0:-1:]

In [28]:
# Additional steps need to clen dataframe

def slice_df_on_cond(df, col1, col2):
    new_df = pd.DataFrame({'src' : [],
                           "trg" : [],
                           "kmdist": [],
                           "Proximity_1_over_dist" : [],
                           "iso_code_src" : [],
                           "iso_code_trg" : []})
    nan_dict = {}
    count = 0
    country = "Afghanistan"
    iso_code_src = "AFG"
    
    for index, row in df.iterrows():
        if count < 5 and country == row[col1] and iso_code_src == row[col2]:
            #print("GOOD LOOP: Count is {}, country is {}, iter_c is {} and iter_iso is {}".format(count,country, row[col1], row[col2]))
            new_df = new_df.append(row)
        elif country != row[col1]:
            count = 0
            country = row[col1]
            iso_code_src = row[col2]
            new_df = new_df.append(row)
            #print("MEDIUM LOOP: Count is {}, country is {}, iter_c is {} and iter_iso is {}".format(count,country, row[col1], row[col2]))
        else:
            #print("PASS LOOP: Count is {}, country is {}, iter_c is {} and iter_iso is {}".format(count,country, row[col1], row[col2]))
            pass
        count +=1
    
    return new_df


cap_sliced = slice_df_on_cond(cap_clean, "src", "iso_code_src")

In [29]:
cap_sliced

,src,trg,kmdist,Proximity_1_over_dist,iso_code_src,iso_code_trg
32292,Afghanistan,Pakistan,371.0,0.00269541779,AFG,PAK
32278,Afghanistan,NaN,444.0,0.002252252252,AFG,TAJ
32280,Afghanistan,Uzbekistan,774.0,0.001291989664,AFG,UZB
32279,Afghanistan,NaN,1012.0,0.0009881422925,AFG,KYR
32290,Afghanistan,India,1023.0,0.0009775171065,AFG,IND
...,...,...,...,...,...,...
38605,NaN,Colombia,19815.0,0.00005046681807,INS,COL
9082,NaN,NaN,19835.0,0.00005041593143,SPN,NEW
39434,NaN,NaN,19835.0,0.00005041593143,NEW,SPN
6429,NaN,NaN,19918.0,0.00005020584396,PAR,TAW
33967,NaN,NaN,19918.0,0.00005020584396,TAW,PAR

In [30]:
nan_d1

{'BHM': '?',
 'HAI': '?',
 'TRI': '?',
 'BAR': '?',
 'GRN': '?',
 'SLU': '?',
 'SVG': '?',
 'AAB': '?',
 'SKN': '?',
 'GUA': '?',
 'HON': '?',
 'SAL': '?',
 'COS': '?',
 'PAR': '?',
 'URU': '?',
 'UK': '?',
 'IRE': '?',
 'NTH': '?',
 'FRN': '?',
 'MNC': '?',
 'LIE': '?',
 'SPN': '?',
 'AND': '?',
 'POR': '?',
 'GMY': '?',
 'GFR': '?',
 'SLO': '?',
 'SNM': '?',
 'SER': '?',
 'CRO': '?',
 'BOS': '?',
 'BUL': '?',
 'MLD': '?',
 'RUM': '?',
 'LAT': '?',
 'LIT': '?',
 'GRG': '?',
 'SWD': '?',
 'DEN': '?',
 'ICE': '?',
 'CAP': '?',
 'EQG': '?',
 'GAM': '?',
 'MAA': '?',
 'NIR': '?',
 'CDI': '?',
 'GUI': '?',
 'BFO': '?',
 'SIE': '?',
 'TOG': '?',
 'CAO': '?',
 'NIG': '?',
 'CEN': '?',
 'CHA': '?',
 'CON': '?',
 'TAZ': '?',
 'ZAN': '?',
 'BUI': '?',
 'ANG': '?',
 'MZM': '?',
 'ZAM': '?',
 'ZIM': '?',
 'MAW': '?',
 'OFS': '?',
 'LES': '?',
 'BOT': '?',
 'SWA': '?',
 'MAG': '?',
 'MAS': '?',
 'SEY': '?',
 'MOR': '?',
 'ALG': '?',
 'LIB': '?',
 'SUD': '?',
 'SYR': '?',
 'LEB': '?',
 'YPR': '?',
 'KUW': '?',
 'BAH': '?',
 'UAE': '?',
 'OMA': '?',
 'TAJ': '?',
 'KYR': '?',
 'KZK': '?',
 'TBT': '?',
 'MON': '?',
 'TAW': '?',
 'BHU': '?',
 'BNG': '?',
 'MYA': '?',
 'SRI': '?',
 'NEP': '?',
 'MAD': '?',
 'THI': '?',
 'CAM': '?',
 'DRV': '?',
 'RVN': '?',
 'MAL': '?',
 'SIN': '?',
 'BRU': '?',
 'PHI': '?',
 'INS': '?',
 'ETM': '?',
 'AUL': '?',
 'NEW': '?',
 'VAN': '?',
 'SOL': '?',
 'MSI': '?',
 'PAL': '?'}

In [31]:
cap_sliced = cap_sliced.loc[cap_sliced['iso_code_src'].isin(nan_d1.keys())]

In [32]:
cap_sliced = cap_sliced.sort_values(['iso_code_src', 'kmdist'], ascending=[True, True])

In [33]:
cow

    StateAbb  CCode                        StateNme
0        USA      2        United States of America
1        CAN     20                          Canada
2        BHM     31                         Bahamas
3        CUB     40                            Cuba
4        CUB     40                            Cuba
..       ...    ...                             ...
238      NAU    970                           Nauru
239      MSI    983                Marshall Islands
240      PAL    986                           Palau
241      FSM    987  Federated States of Micronesia
242      WSM    990                           Samoa

[243 rows x 3 columns]

In [48]:
cow_src = cow.rename(columns = {"StateAbb": "cow_code_src", "StateNme": "src"}).drop(["CCode"], axis=1)

In [49]:
cow_trg = cow_src.rename(columns = {'cow_code_src': 'cow_code_trg', 'src':'trg'})
cow_trg

    cow_code_trg                             trg
0            USA        United States of America
1            CAN                          Canada
2            BHM                         Bahamas
3            CUB                            Cuba
4            CUB                            Cuba
..           ...                             ...
238          NAU                           Nauru
239          MSI                Marshall Islands
240          PAL                           Palau
241          FSM  Federated States of Micronesia
242          WSM                           Samoa

[243 rows x 2 columns]

In [50]:
cap_sliced = cap_sliced.rename(columns={'iso_code_src': 'cow_code_src', 'iso_code_trg': 'cow_code_trg'})
cap_sliced

,src,trg,kmdist,Proximity_1_over_dist,cow_code_src,cow_code_trg
2639,NaN,NaN,106.0,0.009433962264,AAB,SKN
2637,NaN,NaN,359.0,0.00278551532,AAB,SLU
2635,NaN,Dominica,398.0,0.002512562814,AAB,DMA
2638,NaN,NaN,427.0,0.002341920375,AAB,SVG
2634,NaN,NaN,495.0,0.00202020202,AAB,BAR
...,...,...,...,...,...,...
25248,NaN,Micronesia (Federated States of),14176.0,0.00007054176072,ZIM,FSM
25249,NaN,Samoa,14561.0,0.00006867660188,ZIM,WSM
25245,NaN,Fiji,14726.0,0.00006790710308,ZIM,FJI
25064,NaN,Mexico,14756.0,0.0000677690431,ZIM,MEX
25246,NaN,NaN,15272.0,0.00006547930854,ZIM,MSI

In [51]:
new_cap = pd.merge(cap_sliced,cow_src,on=["cow_code_src"], how = "left")
new_cap = pd.merge(new_cap,cow_trg,on=["cow_code_trg"], how = "left")
new_cap

,src_x,trg_x,kmdist,Proximity_1_over_dist,cow_code_src,cow_code_trg,src_y,trg_y
0,NaN,NaN,106.0,0.009433962264,AAB,SKN,Antigua & Barbuda,St. Kitts and Nevis
1,NaN,NaN,359.0,0.00278551532,AAB,SLU,Antigua & Barbuda,St. Lucia
2,NaN,Dominica,398.0,0.002512562814,AAB,DMA,Antigua & Barbuda,Dominica
3,NaN,NaN,427.0,0.002341920375,AAB,SVG,Antigua & Barbuda,St. Vincent and the Grenadines
4,NaN,NaN,495.0,0.00202020202,AAB,BAR,Antigua & Barbuda,Barbados
...,...,...,...,...,...,...,...,...
25917,NaN,Micronesia (Federated States of),14176.0,0.00007054176072,ZIM,FSM,Zimbabwe,Federated States of Micronesia
25918,NaN,Samoa,14561.0,0.00006867660188,ZIM,WSM,Zimbabwe,Samoa
25919,NaN,Fiji,14726.0,0.00006790710308,ZIM,FJI,Zimbabwe,NaN
25920,NaN,Mexico,14756.0,0.0000677690431,ZIM,MEX,Zimbabwe,Mexico
25921,NaN,NaN,15272.0,0.00006547930854,ZIM,MSI,Zimbabwe,Marshall Islands

In [52]:
new_cap.src_x.fillna(new_cap.src_y, inplace=True)
del new_cap['src_y']
new_cap.trg_x.fillna(new_cap.trg_y, inplace=True)
del new_cap['trg_y']
new_cap = new_cap.rename(columns={'src_x': 'src', 'trg_x': 'trg'})

In [53]:
new_cap

,src,trg,kmdist,Proximity_1_over_dist,cow_code_src,cow_code_trg
0,Antigua & Barbuda,St. Kitts and Nevis,106.0,0.009433962264,AAB,SKN
1,Antigua & Barbuda,St. Lucia,359.0,0.00278551532,AAB,SLU
2,Antigua & Barbuda,Dominica,398.0,0.002512562814,AAB,DMA
3,Antigua & Barbuda,St. Vincent and the Grenadines,427.0,0.002341920375,AAB,SVG
4,Antigua & Barbuda,Barbados,495.0,0.00202020202,AAB,BAR
...,...,...,...,...,...,...
25917,Zimbabwe,Micronesia (Federated States of),14176.0,0.00007054176072,ZIM,FSM
25918,Zimbabwe,Samoa,14561.0,0.00006867660188,ZIM,WSM
25919,Zimbabwe,Fiji,14726.0,0.00006790710308,ZIM,FJI
25920,Zimbabwe,Mexico,14756.0,0.0000677690431,ZIM,MEX
25921,Zimbabwe,Marshall Islands,15272.0,0.00006547930854,ZIM,MSI