In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

proximity_u = './data/0_Golden_Standard/c_proximity_clean_04.csv'
capital_d = './data/0_Golden_Standard/capdist_km.csv'

# Things to consider

- AUH drop
- GDR drop
- CZR drop
- YUG drop
- DRC drop
- SAF drop
- TRA drop
- YAR drop
- AUT not in db?

In [2]:
prox = pd.read_csv(proximity_u,sep=',')
cap = pd.read_csv(capital_d,sep=',')

In [3]:
prox

     Unnamed: 0          src                         trg iso_code  region
0             0  Afghanistan                       China      AFG    Asia
1             1  Afghanistan  Iran (Islamic Republic of)      AFG    Asia
2             2  Afghanistan                    Pakistan      AFG    Asia
3             3  Afghanistan                  Tajikistan      AFG    Asia
4             4  Afghanistan                Turkmenistan      AFG    Asia
..          ...          ...                         ...      ...     ...
717         791       Zambia                    Zimbabwe      ZMB  Africa
718         792     Zimbabwe                    Botswana      ZWE  Africa
719         793     Zimbabwe                  Mozambique      ZWE  Africa
720         794     Zimbabwe                South Africa      ZWE  Africa
721         795     Zimbabwe                      Zambia      ZWE  Africa

[722 rows x 5 columns]

In [4]:
cap

       src  trg  kmdist Proximity_1_over_dist
0      USA  CAN     731        0.001367989056
1      USA  BHM    1623       0.0006161429452
2      USA  CUB    1813       0.0005515719801
3      USA  HAI    2286       0.0004374453193
4      USA  DOM    2358       0.0004240882103
...    ...  ...     ...                   ...
41001  WSM  SOL    1581       0.0006325110689
41002  WSM  FJI     823        0.001215066829
41003  WSM  MSI    2555       0.0003913894325
41004  WSM  PAL    4786       0.0002089427497
41005  WSM  FSM    2758       0.0003625815809

[41006 rows x 4 columns]

In [61]:
#no longer active countries / changed name
confl_l= ["AUH",
       "GDR",
       "CZR",
       "YUG",
       "DRC",
       "SAF",
       "TRA",
       "YAR",
       "ROK"]

#verify conflicts not in proximity_u
confl_rows = prox[prox.src.str.contains('|'.join(confl_l))]
confl_rows += prox[prox.trg.str.contains('|'.join(confl_l))]
confl_rows

Empty DataFrame
Columns: [Unnamed: 0, src, trg, iso_code, region]
Index: []

In [62]:
# Cheeky trick to initialize empty pds index
#indexNames = df[ df['src'] == "POTATOE" ].index

def confl_c(df,l):
    for string in l:
        if df['src'].str.contains(string).any():
            df = df[~df.src.str.contains(string)]
        if df['trg'].str.contains(string).any():
            df = df[~df.trg.str.contains(string)]
        if ~df['src'].str.contains(string).any() and ~df['trg'].str.contains(string).any():
            print("{} has been removed from the dataset".format(string))
    return df#

In [63]:
# Delete these row indexes from dataFrame
cap_clean = confl_c(cap,confl_l)

AUH has been removed from the dataset
GDR has been removed from the dataset
CZR has been removed from the dataset
YUG has been removed from the dataset
DRC has been removed from the dataset
SAF has been removed from the dataset
TRA has been removed from the dataset
YAR has been removed from the dataset
ROK has been removed from the dataset

In [68]:
#verifying there are no 0 distances
cap_clean.loc[cap_clean['kmdist'] == 0]

Empty DataFrame
Columns: [src, trg, kmdist, Proximity_1_over_dist]
Index: []

In [69]:
cap_clean

       src  trg  kmdist Proximity_1_over_dist
0      USA  CAN     731        0.001367989056
1      USA  BHM    1623       0.0006161429452
2      USA  CUB    1813       0.0005515719801
3      USA  HAI    2286       0.0004374453193
4      USA  DOM    2358       0.0004240882103
...    ...  ...     ...                   ...
41001  WSM  SOL    1581       0.0006325110689
41002  WSM  FJI     823        0.001215066829
41003  WSM  MSI    2555       0.0003913894325
41004  WSM  PAL    4786       0.0002089427497
41005  WSM  FSM    2758       0.0003625815809

[37442 rows x 4 columns]